/*
Write custom rules here ONLY!
*/

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "variables.scss";
@import "mixins.scss";


html, body {
    width: 100%;
    height: 100%;
}

body {
    display: table;
}

#main {
    @include background-size-cover;
    background-color: #CAAA9D;
    background-image: url("../imgs/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}