/*
Write custom rules here ONLY!
*/

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "variables.scss";
@import "mixins.scss";


html, body {
    width: 100%;
    height: 100%;
}

body {
    display: table;
}

#main {
    @include background-size-cover;
    background-color: #CAAA9D;
    background-image: url("../imgs/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;

    @media (min-width: $screen-xs) {
        padding: 0 $column-padding;
    }

    @media (min-width: $screen-sm) {
        padding: 0 $column-padding * 2;
    }

    [class^="col-"] {
        padding-left: $column-padding / 2;
        padding-right: $column-padding / 2;
    }
}

.block {
    padding: $block-padding;
    background-color: #FFF;

    img {
        margin-bottom: $block-padding - 7px;
        width: 100%;
    }
}